<md-dialog aria-label="Detailansicht des Geräts" flex=40>

  <md-toolbar>
      <div class="md-toolbar-tools">
          <h2>Detailansicht des Geräts</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="assets/img/close.svg" aria-label="Schließen"></md-icon>
          </md-button>
      </div>
  </md-toolbar>

<md-dialog-content>
  <md-content layout-padding="">
      <div ng-controller="devicesCtrl">
        <div layout="column">
              <div layout="row">
                  <div flex=30>
                    <h4>Name:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.name}}</h4>
                  </div>
              </div>
      <md-divider></md-divider>
              <div layout="row">
                  <div flex=30>
                    <h4>IP:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.ip}}</h4>
                  </div>
              </div>
      <md-divider></md-divider>
              <div layout="row">
                  <div flex=30>
                    <h4>Ports:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.ports}}</h4>
                  </div>
                </div>
      <md-divider></md-divider>
                <div layout="row">
                  <div flex=30>
                    <h4>Risk-Level:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.risk-level}}</h4>
                  </div>
                </div>
      <md-divider></md-divider>
                <div layout="row">
                  <div flex=30>
                    <h4>Mac:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.mac}}</h4>
                  </div>
                </div>
      <md-divider></md-divider>
                <div layout="row">
                  <div flex=30>
                    <h4>Services:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.services}}</h4>
                  </div>
                </div>
      <md-divider></md-divider>
                <div layout="row">
                  <div flex=30>
                    <h4>UUID:</h4>
                  </div>
                  <div flex=70>
                    <h4>{{device.uuid}}</h4>
                  </div>
                </div>
        </div>
      </div>
    </md-content>
</md-dialog-content>
</md-dialog>
