<md-dialog aria-label="Device {{caption}}" flex=50>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Device {{caption}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Schließen"></md-icon>
            </md-button>
        </div>
    </md-toolbar>



    <md-dialog-content style="max-width:800px;max-height:1400px;" md-autofocus>
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">

            <md-tab ng-repeat="vuln in vulns" label="{{vuln.type}}" flex layout-fill>
                <div layout="column" layout-fill>
                    <md-content layout-padding="" flex>
                        <div layout="column" flex>
                            <div layout="column" flex>
                                <h4>Gefährdung</h4>
                                <p>{{vuln.issue}}</p>
                            </div>
                            <div layout="column" flex>
                                <h4>Lösung</h4>
                                <p>{{vuln.solution}}</p>
                            </div>
                            <div layout="column" flex>
                                <h4>Aktionen</h4>
                                <div layout="row" flex layout-align="center">
                                    <md-button layout-align="center" class="md-raised md-primary" ng-click="fix()" ng-if="vuln.actions.fix"> Beheben </md-button>
                                    <md-button layout-align="center" class="md-raised md-primary" ng-click="fix()" ng-if="vuln.actions.ignore"> Ignorieren </md-button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </md-content>
                </div>
            </md-tab>
        </md-tabs>


        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Abbrechen
            </md-button>
            <md-button ng-click="createDevice()" class="md-primary">
                {{action}}
            </md-button>
        </md-dialog-actions>
        </form>
</md-dialog>
