<md-dialog aria-label="Scan einsehen" flex=60 max-height='80%'>
    <style>
        .active {
            background-color: #B0DBE1;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Scan {{scanresults.uuid}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Schließen"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding="">
            <div layout="row">
                <div layout-gt-sm="column" flex=50>
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Ports</span>
                            </md-card-title-text>
                        </md-card-title>
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="port.count" chart-labels="port.ports" chart-series="port.series">
                        </canvas>
                    </md-card>
                </div>

                <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                </div>

                <div layout-gt-sm="column" flex=50>
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Risikolevel</span>
                            </md-card-title-text>
                        </md-card-title>
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="risk.count" chart-labels="risk.risks" chart-series="risk.series">
                        </canvas>
                    </md-card>
                </div>
            </div>

            <div flex="5" hide-xs="" hide-sm="">
                <!-- Spacer //-->
            </div>

            <div layout-gt-sm="row">
                <div layout-gt-sm="column" flex=100 min-width="500px" ;>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Geräte</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-list>
                        <md-divider></md-divider>
                        <md-list-item class="md-3-line" ng-repeat="device in scanresults.devices">
                            <md-divider></md-divider>
                            <div style="min-width: 50px">
                                <p>
                                    <h2>{{device.risk}}</h2>
                                </p>
                            </div>
                            <div class="md-list-item-text" flex="40">
                                <p>
                                    <h3>{{device.ip}}</h3></p>
                                <p>Hostname: {{device.hostname}}</p>
                            </div>
                            <div class="md-list-item-text" flex="40">
                                <p>
                                    <h3>Dienste</h3></p>
                                <p>{{device.services.services}} auf Ports {{device.services.ports}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
            </div>
    </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Schließen
        </md-button>
    </md-dialog-actions>
</md-dialog>
