<md-dialog aria-label="Device {{device.ip}}" flex=40 max-height='80%'>
    <style>
        .active {
            background-color: #B0DBE1;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Scan {{scanresults.uuid}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Schließen"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding="">

            <md-list>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>IP-Adresse</h3>
                        <p>Netzwerk-Adresse</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.ip }}</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>MAC-Adresse</h3>
                        <p>Hardware-Adresse</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.mac }}</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>UUID</h3>
                        <p>ID zur eindeutigen Identifizerung</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.uuid }}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>Ports</h3>
                        <p>Offene Netzwerk-Ports</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.ports }}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>Services</h3>
                        <p>Aktive Netzwerkdienste</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.services }}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>Risiko-Level</h3>
                        <p>Auf einer Skala von 1 bis 10</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.risk_level }}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>Hersteller</h3>
                        <p>Produkthersteller, falls bekannt</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.manufacturer }}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <md-divider></md-divider>
                    <div class="md-list-item-text" flex=50>
                        <h3>Modell</h3>
                        <p>Produktmodell, falls bekannt</p>
                    </div>
                    <div class="md-list-item-text" flex=50>
                        <h3>{{ device.modell }}</h3>
                    </div>
                </md-list-item>
            </md-list>

        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Schließen
        </md-button>
    </md-dialog-actions>
</md-dialog>
