<md-dialog aria-label="Risikofaktor einsehen" flex=50 max-height='80%'>
    <style>
        .active {
            background-color: #B0DBE1;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Risikofaktor einsehen: {{vuln.issue}} {{vuln.type}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/img/close.svg" aria-label="Schließen"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding="">
            <div layout="column" flex>
                <div layout="row" flex>
                        <h4>Es wurde ein Problem der Kategorie {{vuln.type}} festgestellt. Dies lässt darauf schließen, dass das betroffene Gerät nicht mehr sicher ist. Um Datenverlust und der Infizierung weiterer Netzwerkgeräte vorzubeugen, finden sie unter folgendem Link eine Beschreibung, um das Problem zu beheben und ihr Netzwerk wieder sicher zu machen: </h4>
                        <p></p>
                    </div>
                    <div layout="row" flex layout-align="center">
                        <md-button layout-align="center" href={{vuln.link}}> Lösungshilfe </md-button>
                    </div>
                </div>
    </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Schließen
        </md-button>
    </md-dialog-actions>
</md-dialog>
