<div flex ng-controller="devicesCtrl" class="md-padding" ng-cloak>
  <div layout="row" layout-wrap>
    <md-card flex="100" >
    <div>
      <md-content>
         <div layout="row">
           <div flex=33 >
             <h4>Ip-Adressen</h4>
           </div>
           <div flex=33>
             <h4>Risiko-Level</h4>
           </div>
           <div flex=33>
             <h4>Mac-Adresse</h4>
           </div>
         </div>
      </md-content>
    </div>
        <md-divider></md-divider>
        <md-list flex>
         <md-list-item class="md-3-line" ng-repeat="device in devices" ng-click="showAdvanced($event, device)">
           <!-- <img ng-src="{{item.pic}}" class="md-avatar" /> -->

           <div class="md-list-item-text" flex=30>
             <h3>{{ device.ip }}</h3>
           </div>

           <div class="md-list-item-text" flex=30>
             <h3>{{ device.risk_level }}</h3>
           </div>

           <div class="md-list-item-text" flex=30>
             <h3>{{ device.mac }}</h3>
           </div>

         </md-list-item>
       </md-list>

 </md-card>
</div>
</div>
