<div ng-controller="userMgmtCtrl">
    <md-content class="layout-row" layout-align="center start" layout-xs="column">
        <md-card flex=30>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">User Information</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content class="layout-column" layout-align=" stretch">
                    <div>
                        <md-input-container class="md-block" flex=90>
                            <label>Name</label>
                            <input ng-model="user.name">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block" flex=90>
                            <label>Email</label>
                            <input ng-model="user.mail" type="email">
                        </md-input-container>
                    </div>
                </md-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised" type="save">Speichern</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex=30>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">User Settings</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content class="layout-column" layout-align=" stretch">
                    <div>
                        <md-input-container class="md-block">
                            <md-switch md-no-ink ng-model="data.sendmail">
                                Benachrichtigungen per Email {{ data.sendmail }}
                            </md-switch>

                        </md-input-container>
                    </div>
                </md-content>
            </md-card-content>

            </md-card-content>
        </md-card>
    </md-content>
</div>

</div>
